/node_modules
/public/hot
/public/storage
/public/*.html
/public/upload
/public/upload_pub
/public/pagelib
/public/plib
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.history

